* {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: s
}
h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: 'Tangerine', serif;
}
h2 {
    color: ghostwhite;
    margin: 30px;
    font-size: 40px;
    font-family: 'italiana', serif;
}
h3 {
    color: ghostwhite;
    margin: 30px;
    font-size: 30px;
    font-family: 'italiana', serif;
    max-width: 100%;
}
body {
    margin: auto 10%;
    background-color: #524;
}
#time {
    float: right;
    color: white;
    margin: 10px;
}
.break {
    border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, #524, #8c8b8b, #524);
    background-image: -moz-linear-gradient(left, #524, #8c8b8b, #524);
    background-image: -ms-linear-gradient(left, #524, #8c8b8b, #524);
    background-image: -o-linear-gradient(left, #524, #8c8b8b, #524); 
}
.nav {
    text-align: center;
}
.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin: auto 30px;
}
.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav ul li a:hover {
    color: snow;
    background-color: #524;
    opacity: 0.4;
    border-bottom: 1px solid grey;
}
.navS i {
    display: none;
}
.navS ul li {
    list-style-type: none;
}
.navS ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.navS ul li a {
    display: none;
}
.intro {
    margin-top: 40px;
    margin-bottom: 40px;
}
.intro p {
    margin-left: 50px;
    display: inline;
    position: absolute;
    color: white;
    font-size: 20px;
    margin-right: 200px;
    font-family: "Courier New", Courier, monospace;
    line-height: 40px;
}
.intro a img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
}
.textbox {
    display: inline-block;
    margin: 3% 5%;
    width: 45%;
    min-width: 350px;
    background-color: red;
}
.textbox p {
    margin: 20px;
    color: white;
    opacity: 0.8;
}
@media screen and (max-width: 1048px) {
    body {
        background-color: black;
        margin: 0;
    }
    .textbox {
        width: 100%;
        margin: 0;
        min-height: 0px;
    }
    .intro p {
        font-size: 12px;
        width: 400px;
        overflow: hidden;
    }
}
@media screen and (max-width: 690px) {
    h1 {
        font-size: 20px;
        margin-top: 40px;
        font-family: 'italiana', serif;
    }
    .nav ul li a {
        display: none;
    }
    .navS i {
        display: block;
        color: white;
        float: left;
        margin: 55px;
        font-size: 40px;
    }
    .navS i:hover {
        color: #444;
        display: inline-block;
    }
    .break {
        margin-top: 70px;
    }
}